:root {
  // Colors
  --color-dark: #191919;
  --color-light: #fefefe;
  --color-primary: #826aed;
  
  // Fonts
  --font-main: 'Ubuntu', sans-serif;
  --font-secondary: "Ruslan Display", sans-serif;

  --fs-title: clamp(2.5rem, 7vw, 5rem);
  --fs-subtitle: clamp(1.8rem, 5vw, 3rem);
  --fs-header: clamp(1.3rem, 3vw, 2rem);
  --fs-text: clamp(1rem, 2vw, 1.25rem);

  // Spacing scale
  --space-xs: 0.5rem;
  --space-sm: 1.0rem;
  --space-md: 1.5rem;
  --space-lg: 3.0rem;
  --space-xl: 6.0rem;
  
  // Radius
  --radius-sm: 0.5rem;
  --radius-md: 1.0rem;
}
