@import "colors";
@import "animation";


body {
    width: 100dvw;
    background-color: $black;

    padding: 0 30px;

    overflow-x: hidden;
}

a, li, p, h1, h2, h3 {
    color: $white;
}

main {
    height: 100dvh;

    .title {
        font-size: 15dvh;
        font-weight: 900;

        padding-top: 2dvh;

        z-index: 500;

        animation: slide-top 1s;
    }

    .about-wrapper {
        min-height: 20dvh;
        width: 35dvw;

        transform: translateX(5dvw) translateY(10dvh);

        button {
            display: flex;
            flex-direction: row;

            cursor: pointer;
            background-color: $primary;

            margin-top: 3dvh;
            margin-left: 1.5dvw;

            padding: 2dvh 2dvw 2dvh 2dvw;
            border-radius: 500dvh;
            border: solid .5dvh $primary;

            img {
                height: 3dvh;
                width: auto;

                margin-left: -.5dvw;
                padding-right: 1.5dvw;

                transition: all .5s;
            }

            p {
                color: $black;
                font-size: 2.5dvh;

                transition: transform .2s;
            }

            &:hover {
                img {
                    transform: translateX(5.5dvw);
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(113deg) brightness(106%) contrast(99%);
                }

                p {
                    transform: translateX(10dvw);
                    opacity: 0;
                }

                background-color: $black;
            }

        }
    }

    /*
        Graph tag
    */
    
    h2 {
        position: absolute;
        top: 24%;
        right: 15%;

        rotate: 5deg;

        font-size: 7dvh;
        font-family: "Ruslan Display", sans-serif;

        color: $black;

        z-index: 50;

        animation: slide-left 2s;
    }

    .tag {
        position: absolute;
        top: -5%;
        right: -12%;
        
        scale: .6;
        rotate: 5deg;

        border-radius: 50px;

        border-top: 10em solid $primary;
        border-bottom: 2em solid $primary;
        border-left: 1em solid $primary;
        border-right: 1em solid $primary;

        background-color: $primary;

        z-index: 10;

        animation: slide-left 1s;
        user-select: none;
    }

    #arrow {
        position: absolute;
        top: 40dvh;

        animation: slide-top 2s;
        user-select: none;
    }

}

#about {
    height: calc(90dvh - 1em);
    padding-top: 1em;

    h2 {
        font-size: 7dvh;
        padding-bottom: 1dvh;
    }

    p {
        margin: 3dvh 7dvw 0 3dvw;

        font-size: 2.7dvh;
        line-height: 3.5dvh;
        text-align: justify;
    }

    .line {
        width: 70dvw;
        height: auto;

        padding-top: 1dvh;
        margin-left: auto;
        margin-right: 0;

        user-select: none;

        filter: invert(44%) sepia(36%) saturate(1369%) hue-rotate(214deg) brightness(98%) contrast(90%);
    }
}

#project {
    height: calc(100dvh - 1em);
    padding-top: 1em;


    h2 {
        font-size: 7dvh;
    }


    .wrapper {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: row;

        #project-wrapper {
            height: 100%;
            width: 50dvw;

            display: flex;
            flex-direction: column;
            justify-content: center;
            
            padding-left: 8%;
            padding-top: 15%;
        }
    
        .projectImg {
            width: 22dvw;

            border: 2px solid $white;
            border-radius: 15px;
    
            transform: rotateY(40deg) rotateX(30deg);
            transition: transform .5s ease;

            user-select: none;
        
            &:hover {
                transform: scale(1.05) rotateX(0) rotateY(0) translateY(-15%); /* Increase the size on hover */
                z-index: 50;
            }
        
            &:not(:hover) {
                transform: scale(1) rotateY(30deg) rotateX(25deg); /* Ensure smooth transition back */
                transition: transform .3s ease;
            }
        }

        article {
            display: flex;
            flex-direction: column;

            width: 45dvw;
            margin-left: 5%;

            h2 {
                font-size: 5dvh;
                margin-bottom: 2.5dvh;

                position: relative;

                &::after {
                    content: '';

                    position: absolute;
                    display: block;

                    width: 35dvw;
                    height: .2dvh;
                    
                    background-color: $primary;
                }

                &::before {
                    content: '...';
                    position: absolute;
                    display: block;

                    font-size: 4dvh;

                    right: 13%;
                    bottom: 0;
                    transform: translateY(33%);

                    color: $primary;
                    
                }
            }

            p {
                font-size: 3dvh;
            }
        }
    }
}

#contact {
    height: calc(45dvh - 1em);
    padding-top: 1em;

    h2 {
        font-size: 7dvh;
    }

    .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding-top: 5dvh;

        p {
            padding-bottom: 5dvh;
        }

        .contact-list {
            display: flex;
            flex-direction: row;
            gap: 2.5dvw;

            padding-bottom: 5dvh;

            img {
                height: 13dvh;
                width: auto;

                filter: invert(92%) sepia(76%) saturate(0%) hue-rotate(7deg) brightness(108%) contrast(99%);
            }
        }
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    body::before {
        content: "Work in progress";
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5dvw;
        color: $black;
        background-color: $primary;
        padding: 10px 20px;
        border-radius: 10px;
        text-align: center;
        z-index: 1000;  
    }

    main, section, .hidden {
        display: none !important;
    }
}
